<%= language_selector %>
<%= button_to 'Logout', logout_path, method: :delete %>
<%= link_to 'Overview', admin_path %>
<a href="#" onclick="admin_search.display_toggle(); return false;">search</a>
<%= link_to 'Nodes', nodes_path, selected?('nodes') %>
<%= link_to 'Assets', assets_path, selected?('assets') %>
<%= link_to 'Events', events_path, selected?('events') %>
<%= link_to 'User', users_path, selected?('users') %>
<%= link_to 'Navigation', menu_items_path, selected?('menu_items') %> &gt;&nbsp;
