<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Rrule</th>
    <th>Custom rrule</th>
    <th>Allday</th>
    <th>Url</th>
    <th>Node</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.display_title %></td>
    <td><%=h event.start_time %></td>
    <td><%=h event.end_time %></td>
    <td><%=h event.rrule %></td>
    <td><%=h event.custom_rrule %></td>
    <td><%=h event.allday %></td>
    <td><%=h event.url %></td>
    <td><%= event.node ? link_to(event.node_id, node_path(event.node)) : '' %></td>
    <td><%= link_to 'show', event %></td>
    <td><%= link_to 'edit', edit_event_path(event) %></td>
    <td><%= button_to 'destroy', event, method: :delete, form: { data: { confirm: 'Are you sure?' }, class: 'button_to destructive' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
