<% content_for :subnavigation do %>
  <% if @event.node %>
    <%= link_to 'node', node_path(@event.node) %>
  <% end %>
  <%= link_to 'edit', edit_event_path(@event, return_to: request.path) %>
  <%= button_to 'destroy', event_path(@event), method: :delete, form: { data: { confirm: 'Delete this event?' }, class: 'button_to destructive' } %>
<% end %>

<h2>Event for node <%= @event.node.unique_name %></h2>

<p>
  <b>Start time:</b>
  <%=h @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @event.end_time %>
</p>

<p>
  <b>Rrule:</b>
  <%=h @event.rrule %>
  <% if (human = @event.humanize_rrule(I18n.locale)) %>
    <br/><small><em>( <%= human %></em> )</small>
  <% end %>
</p>

<p>
  <b>Tags:</b>
  <%=h @event.tag_list %>
</p>

<p>
  <b>Allday:</b>
  <%=h @event.allday %>
</p>

<p>
  <b>Url:</b>
  <%=h @event.url %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @event.longitude %>
</p>
