<div class="article" lang="<%= @page.effective_lang %>">
  <h2 class="headline"><%= @page.title %></h2>
  <% if @page.node.external_url.present? %>
    <div class="chapter_url"><%= link_to @page.node.external_url, @page.node.external_url, target: '_blank', rel: 'noopener' %></div>
  <% end %>
  <p><%= sanitize(@page.abstract) %></p>
  <%= aggregate?(@page.body) %>
  <% open_days = @page.node.events.tagged_with('open-day').order(:start_time) %>
  <% other_events = @page.node.events.where.not(id: open_days.map(&:id)).order(:start_time) %>
  <% if open_days.any? %>
    <div class="chapter_events open_days">
      <h3><%= t(:open_days) %></h3>
      <ul>
        <% open_days.each do |event| %>
          <li><%= event_schedule_text(event) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if other_events.any? %>
    <div class="chapter_events">
      <h3><%= t(:upcoming_events) %></h3>
      <ul>
        <% other_events.each do |event| %>
          <li>
            <span class="event_title"><%= event.display_title %></span>
            <span class="event_schedule"><%= event_schedule_text(event) %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
