<h1>Editing asset</h1>

<%= form_for(@asset) do |f| %>
  <%= form_error_messages(f) %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>
