<div id="featured_articles">
  <h2>Featured</h2>

  <!-- %= link_to(
        image_tag( '34c3-tuwat.1e4e25c.png' ),
        "https://events.ccc.de/congress/2017/wiki/Main_Page",
        :id => "34C3_icon",
        :size => "155x90",
        :title => "Chaos Communication Congress 2017"
  )% -->

  <%= link_to(
        image_tag( 'chaosradio.png' ),
        "http://chaosradio.ccc.de/",
        :id => "chaosradio_icon",
        :title => "Chaosradio"
  )%>

  <%= link_to(
        image_tag( 'media-ccc-de-banner.svg', :size => '155x45' ),
        "https://media.ccc.de",
        :id => "media_ccc_de_icon",
        :title => "Media Dot CCC Dot de"
  )%>

  <%= link_to(
        image_tag( 'ds.png' ),
        "http://ds.ccc.de/",
        :id => "ds_icon",
        :title => "Datenschleuder"
  )%>

  <%= link_to(
        image_tag( 'events.png' ),
        "http://events.ccc.de/",
        :id => "events_icon",
        :title => "Events Blog"
  )%>

  <%= link_to(
        image_tag( 'Fediverse.svg', :size => '64x64' ),
        "https://social.bau-ha.us/@ccc",
        :rel => 'me',
        :id => "fediverse_icon",
        :title => "Fediverse"
  )%>

  <%= link_to(
        image_tag( 'Bluesky_Logo.svg', :size => '64x64' ),
        "https://bsky.app/profile/ccc.de",
        :id => "bluesky_icon",
        :title => "bsky"
  )%>

</div>

