<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= csrf_meta_tags %>
  
    <title><%= "#{params[:controller]} | #{params[:action]}" %></title>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= javascript_include_tag 'admin_bundle' %>
    <%= tinymce_assets %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="/javascripts/admin_search.js"></script>
    <script src="/javascripts/admin_interface.js"></script>
    <script>
      var ADMIN_SEARCH_URL = "<%= admin_search_path %>";
      var ADMIN_MENU_SEARCH_URL = "<%= admin_menu_search_path %>";
    </script>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="navigation">
        <div id="main_navigation">
          <%= render :partial => 'admin/menu' if current_user %>
        </div>
        <div id="sub_navigation">
          <%= yield :subnavigation %>
        </div>
      </div>
      <div style="clear: both;"></div>
      <div id="flash">
        <%= flash[:notice] %>
        <% if flash[:error] %>
          <span id="flash_error"><%= flash[:error] %></span>
        <% end %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      
      <div id="results"></div>
    </div>
    
    <div id="search_widget" style="display: none;">
      <div>
        <%= form_tag admin_search_path, method: :get do %>
          <span>Search: </span><%= text_field_tag :search_term, nil, autocomplete: "off" %>
        <% end %>
      </div>
      <div id="search_results" style="display: none">
        
      </div>
    </div>
  </body>
</html>
