<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Der Chaos Computer Club ist eine galaktische Gemeinschaft von Lebewesen für Informationsfreiheit und Technikfolgenabschätzung."/>

    <meta property="og:image" content="https://www.ccc.de/images/chaosknoten.svg" />
    <meta property="og:description" content="Der Chaos Computer Club ist eine galaktische Gemeinschaft von Lebewesen für Informationsfreiheit und Technikfolgenabschätzung." />

    <title><%= page_title %></title>
    <link rel="stylesheet" href="/stylesheets/ccc.css">
    <link rel="stylesheet" href="/stylesheets/glightbox.min.css">
    <script src="/javascripts/glightbox.min.js"></script>
    <script src="/javascripts/public.js"></script>

    <%= auto_discovery_link_tag(:atom, '/rss/updates.xml', title: "ATOM") %>
    <%= auto_discovery_link_tag(:rss,  '/rss/updates.rdf', title: "RSS") %>

    <script>
      (function() { document.addEventListener("DOMContentLoaded", function() {
        if (localStorage.getItem('override-prefers-color-scheme', false))
          document.getElementById("light-mode").checked = true;
      }); })();
    </script>

  </head>

  <body lang="<%= @page ? @page.effective_lang : 'de' %>">
    <div id="wrapper">
      <div id="header">
        <img src="/images/header.png" alt="">
      </div>
      <div id="toolbox">
        <div id="search">
          <%= render :partial => "content/search" %>
        </div>
        <div id="light-mode-div">
          <input id="light-mode" type="checkbox" aria-label="Switch between dark and light mode" /><label for="light-mode"><span class="hide-me">lights</span></label>
        </div>
        <div id="burger-div">
          <input type="checkbox" id="menu-toggle" class="menu-checkbox">
          <label for="menu-toggle" class="burger-menu"><span></span><span></span><span></span></label>
        </div>
      </div>
      <div id="left_column">
        <%= main_menu %>

        <% if current_user && @page.node %>
          <div class="main_navigation">
            <h2>Admin</h2>
            <ul>
              <li><%= link_to raw('<span class="inactive admin_edit_link">⚙️ Overview</span>'), admin_path %></li>
              <li><%= link_to raw('<span class="inactive admin_edit_link">✎ Edit</span>'), node_path(@page.node) %></li>
            </ul>
          </div>
        <% end %>

  	<%= calendar %>
      </div>
      <div id="center_column">
        <%= yield :layout %>
        <div id="footer">
          <br />
          <p style="text-align: center">
            <%= link_to "Impressum", content_path("imprint") %>
            <%= link_to "Datenschutz", content_path("datenschutz") %>
            <%= language_selector %>
            <!-- %= link_to t(:sponsors), content_path("sponsors") % -->
          </p>
        </div>
      </div>
      <div id="right_column">
        <%= tags %>
        <%= featured_articles %>
      </div>
    </div>

  </body>
</html>
